<div class="card">
  <div class="card-body" #scrollMe style="overflow: scroll; height: 535px"
    [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
      No messages yet... say hi by using the message box below
    </div>

    <ul *ngIf="(messageService.messageThread$ | async)!.length > 0" class="chat">
      <li *ngFor="let message of (messageService.messageThread$ | async)">
        <div>
          <span class="chat-img float-end">
            <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
              alt="image of user">
          </span>
          <div class="chat-body">
            <div class="header mt-3">
              <small class="text-muted">
                <div class="d-flex align-items-center">
                  <h6 class="fa fa-clock-o me-1"></h6>
                  <h6>{{message.messageSent | timeago}}</h6>
                  <h6 class="text-danger ms-1" *ngIf="!message.dateRead
                        && message.senderUsername !== username">(unread)</h6>
                  <h6 class="text-success ms-1" *ngIf="message.dateRead
                        && message.senderUsername !== username">(read {{message.dateRead |
                    timeago}})</h6>
                </div>
              </small>
            </div>
            <h6 class="mt-3">{{message.content}}</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input name="messageContent" required [(ngModel)]="messageContent" type="text"
          class="form-control input-sm" placeholder="Send a private message">
        <div class="input-group-append ms-3">
          <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">
            Send <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
